/** @format */

body {
  margin: 0%;
}
.ty {
  position: fixed;
  font-size: 47px;
  color: white;
  font-family: "Cinzel", serif;
  width: 65%;
  top: 7%;
  left: 20%;
}
.img2 {
  position: fixed;
  width: 100%;
  height: auto;
  opacity: 0.9;
  z-index: -1;
}
.button1 {
  position: fixed;
  margin-top: 2%;
  margin-left: 2%;
  /* border: 2px solid #80ffc3; */
  /* border-radius: 12px; */
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: fit-content;
  font-size: 28px;
}
.button1 a {
  text-decoration: none;
  color: white;
}
.button1 a:hover {
  text-decoration: underline;
}
