/**
 * /* CSS Reset
 *
 * @format
 */

* {
  margin: 0;
  padding: 0;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}
#navbar::before {
  content: "";
  background: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.4;
}

/*Navigation Bar: Logo and Image  */
#logo {
  margin: 10px 34px;
}
#logo img {
  height: 33px;
  margin: 3px 6px;
}

/* Navigation Bar: List Styling  */

#navbar ul {
  display: flex;
  font-family: "Spartan", sans-serif;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background: white;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  height: 620px; /*changes*/
  padding: 3px 200px; /*changes*/
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  background: url("img1.jpg") no-repeat center center/cover;
  position: absolute;
  height: 670px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.87;
}
#home h1 {
  color: white;
  text-align: center;
  font-family: "Spartan", sans-serif;
}
#home p {
  color: white;
  text-align: center;
  font-family: "Spartan", sans-serif;
}
/* Services section */

#services {
  margin: 34px;
  display: flex;
  /* direction: column; */
}
/* #services-container {
  display: flex;
  flex-direction: column;
  position: absolute;
} */
#services .box {
  border: 2px solid black;

  padding: 34px;
  /* display: flex; */
  margin: 3px 55px;
  border-radius: 28px;
  background: #b7948066;
}

#services .box img {
  height: 160px;
  margin: auto;
  display: block;
}
#services .box p {
  font-family: "Spartan", sans-serif;
}
#services {
}
#services {
}
#services {
}

/* Client section */

#client-section {
  position: relative;
  /* height: 344px; */
}
#client-section::before {
  content: "";
  position: absolute;
  background: url("img3.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item {
  padding: 34px;
}
#clients img {
  width: 124px;
}

/* contact section */
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background: url(img3.jpg);
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.7rem;
  border-radius: 10px;
  font-size: 1.1rem;
}
#contact-box form {
  width: 40%;
}
#contact-box label {
  font-family: "Spartan", sans-serif;
  font-size: 1.3rem;
}
footer {
  background: black;
  color: white;
  font-size: 14px;
}

/* Utility classes */
.h-primary {
  font-size: 3.8rem;
  padding: 12px;
  font-family: "Spartan", sans-serif;
}
.h-secondary {
  font-size: 2.2rem;
  padding: 12px;
  font-family: "Spartan", sans-serif;
}
.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background: #64554aa3;
  color: white;
  margin: 18px;
  border-radius: 14px;
  font-size: 1.5rem;
  cursor: pointer;
}
.center {
  text-align: center;
}
